body 
{
    display:flex;
    flex-direction: column;
    background-color: #21618C ;
}

header{
     height: 200px;
}


.principal{
    display:flex;
    align-items: stretch;
}

.droite{
    display:flex;
    flex-direction: column;
    justify-content: space-around;   
}

.message{
    display:flex;
    flex-direction: column;
    color: #013C5C;
    
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 50px; 
 
   
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-align: justify;
    color: white;
    width:500px;
    
}


h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: italic;
}

.bouton{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:white;
    background:#F5C464;
    border-radius: 10px;   
    padding: 5px 20px;
    text-decoration: none; 
}

a:hover {
    color:#21618C ;
}

footer
{
    height: 100px;
}
